<nav>
  <div class='nav-wrapper'>
    <a href='/' class='brand-logo'>PIO</a>
    <ul id='nav-mobile' class='right hide-on-med-and-down'>

      {{#if isHome}}
        <li class='active'><a href='/'>Главная</a></li>
      {{else}}
        <li><a href='/'>Главная</a></li>
      {{/if}}

      {{#if isAuth}}

        {{#if isSubscribers}}
          <li class='active'><a href='/subscribers'>Подписчики</a></li>
        {{else}}
          <li><a href='/subscribers'>Подписчики</a></li>
        {{/if}}

        {{#if isUpdSubscribers}}
          <li class='active'><a href='/updSubscribers'>Обновить подписчиков</a></li>
        {{else}}
          <li><a href='/updSubscribers'>Обновить подписчиков</a></li>
        {{/if}}

        <li><a href='/auth/logout'>Выйти</a></li>

      {{else}}

        {{#if isLogin}}
          <li class='active'><a href='/auth/login#login'>Войти</a></li>
        {{else}}
          <li><a href='/auth/login#login'>Войти</a></li>
        {{/if}}

      {{/if}}

    </ul>
  </div>
</nav>